*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}
nav {background-color: rgb(73, 73, 73);
  padding: 10px 20px;
  position: sticky;
  top: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s ease, border 0.3s ease , background-color 0.3s ease; 
  padding: 5px 10px;  
  border-radius: 999px;
}

.nav-links li  a:hover {
  font-weight: bold;
  background-color: black;
  color: rgb(255, 255, 255);
  border-radius: 999px;
  padding: 15px;
}

.logo{
  color: rgb(175, 175, 175);
  font-size: 1.5rem;
  font-weight: 700;
  font-size: 100;
  font-style: oblique;
}

.logo span {
  color: #8f8f8f;
  font-weight: 700;
  font-size: x-large;
  font-style: o;
}

  .imgg {
    width: 230px;
    padding: 20px;
    border-radius: 50px;
    transition: transform 0.5s ease;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 2px solid rgb(0, 0, 0);
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    border-radius: 30px;
    
  }

  .imgg:hover {
    transform: scale(1.1);
  }

  .card {
    overflow: hidden;
  }

  .image-caption {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

footer {
  background-color: #333;
  text-align: center;
  /* padding: 20px; */
  position: relative;
  bottom: 0;
  width: 100%;
  position: absolute;
  /* margin-right: 10px; */
  color: #ffffff;
}

footer {
  max-width: 100%;
  margin: 0 auto;
}